@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  background-color: rgb(55, 55, 55);
  font-family: 'Oxanium', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  width: 100vw;
}
